@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');






a {
    font-family: 'Inter', sans-serif;
    color: white;
    text-decoration: none;
    padding-right: 8px;
    font-size: larger;
}

body {
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    margin: 0%;
    padding: 0%;
    background-color: grey;
    background-image: url(../imagens/alpes-suico.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    width: 100%;
    height: auto;
    justify-content: right;
    list-style: none;
    display: flex;
    margin-right: 4%;
    margin-top: 2.8%;
}

.login {
    width: auto;
    height: auto;
    position: relative;
    top: 39%;
    left: -1%;
    display: flex;
    justify-content: right;
}

.cadastro {
    width: auto;
    height: auto;
    position: relative;
    top: 39%;
    left: -0.7%;
    display: flex;
    justify-content: right;
}


.logo {
    display: flex;
    width: 60px;
    height: 70px;
    margin-top: 26px;
    justify-content: left;
    margin-left: 30%;
}

.palito {
    background-color: white;
    position: relative;
    top: 32%;
    left: -2.8%;
    height: 45px;
    width: 3px;
}

.header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header .header-group {
    width: 100vw;
    height: 120px;
    background-color: black;
    margin: 0;
    display: flex;
}

.header .container {
    display: flex;
    margin: auto;
    width: 90%;
    height: 120px;
}

.containerCadastro {
    height: 630px;
    width: 754px;
    border-radius: 58px;
    background-color: white;
    
    display: flex;
    
    position: relative;
    left: 30vw;
    top: 9vh;

    flex-direction: column;
    align-items: center;

}

.containerCadastro h1{
    display: flex;
    font-size: 500%;
    margin: 0;
    margin-top: 5vh;
    font-weight: lighter;
    font-family: 'Imperial Script', cursive;
}

.containerInputs {
    display: flex;
    flex-direction: column;
}

.containerInputs input[type="text"]{
    margin: 2.3vh;
    background-color: #F1EBEB;
    border:  #F1EBEB;
    border-radius: 12px;
    font-size: 16px;
    width: 548px;
    height: 54px;

}

.containerInputs input[type="text"]::placeholder{
    text-align: center;

}

input[type="text"]:focus {
    outline: none;
    border-color: grey;
  }

.botaoCadastro button{
    background-color: black;
    border-radius: 20px;
    border: none;
    color: white;
    width: 224px;
    height: 57px;
    margin-top: 5vh;
    font-size: 200%;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
}