
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

a {
    font-family: 'Inter', sans-serif;
    color: white;
    text-decoration: none;
    font-size: larger;
}

h1 {
    margin: 0;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: white;
}



.espacoApoioEmocional{
    margin-right: 7px;
}

.banner {
    background-size: cover;
    background-image: url(https://tm.ibxk.com.br/2021/04/08/08163059787291.jpg?ims=1120x420);
    height: 400px;
}

.banner h1{
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: white;
    text-align: left;
    position: absolute;
    left: 77%;
    top: 24%;
    font-weight: 400;
    font-size: 350%;
}


/* BARRA DE NAVEGAÇÃO */
.navbar {
    width: 100%;
    height: auto;
    justify-content: right;
    list-style: none;
    display: flex;
    margin-right: 4%;
    margin-top: 2.7%;
}

.login {
    width: 5%;
    height: auto;
    position: relative;
    top: 39%;
    left: -2%;
    display: flex;
    justify-content: right;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: larger;
    cursor: pointer;
}

.cadastro {
    width: auto;
    height: auto;
    position: relative;
    top: 39%;
    left:-0.7%;
    display: flex;
    justify-content: right;
}


.logo {
    display: flex;
    width: 60px;
    height: 70px;
    margin-top: 26px;
    justify-content: left;
    margin-left: 30%;
}

.palito {
    background-color: white;
    position: relative;
    top: 32%;
    left: -2.8%;
    height: 45px;
    width: 3px;
}

.header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header .header-group {
    width: 100%;
    height: 120px;
    background-color: black;
    margin: 0;
    display: flex;
}

.header .container {
    display: flex;
    margin: 0;
    width: 100%;
    height: 120px;
}

.texto1 h1 {
    margin-top: 4%;
    font-weight: lighter;
    font-family: 'Inter', sans-serif;
}

.texto2 h1{
    margin-top: 4%;
    font-family: 'Inter', sans-serif;
}

.Fibonacci {
    margin-top: 10vh;
}

.Fibonacci :hover img{
    width: 500px;
    height: 320px;
    transition: 0.8s;
}

.Fibonacci img{
    width: 450px;
    height: 270px;
}

.pilares {
    display: flex;
    justify-content: space-evenly;
}

.imgsPilares {
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}

.imgsPilares img{
    width: 200px;
    height: 200px;
}

.pilares span{
    display: flex;
    background-color: #D9D9D9;
    width: 322px;
    height: 289px;
    border-radius: 40px;
}

.pilares h1{
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-weight: normal;
    padding-top: 9%;
    padding-left: 14%;
    font-size:170%;
}

.container3 {
    margin-top: 5%;
    margin-bottom: 6%;
}

.footer {
    background-color: black;
    margin-top: 5%;
    height: 120px;
}
.footer h1{
    padding-top: 2%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size:x-large;
    font-weight: lighter;
}

.footer {
    background-color: black;
    margin-top: 5%;
    height: 120px;
}
.footer h1{
    padding-top: 2%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size:x-large;
    font-weight: lighter;
}