@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

a {
    font-family: 'Inter', sans-serif;
    color: white;
    text-decoration: none;
    font-size: larger;
}

h1 {
    margin: 0;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: grey;
    background-image: url(../imagens/JesusComGaleras.jpg);
    background-size: cover;
}

.espacoApoioEmocional{
    margin-right: 7px;
}

.banner {
    background-size: cover;
    background-image: url(https://tm.ibxk.com.br/2021/04/08/08163059787291.jpg?ims=1120x420);
    height: 400px;
}

.banner h1{
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: white;
    text-align: left;
    position: absolute;
    left: 77%;
    top: 24%;
    font-weight: 400;
    font-size: 350%;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100%;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid black;
  background-color: #212124;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 80%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: white;
  font-family: 'Inter', sans-serif;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  font-family: 'Inter', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
  font-family: 'Inter', sans-serif;
}

.btn-nav-white h3 {
  color: black;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; 
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: black;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}

/* Alarme */
#alerta {
  position: absolute;
  right: 0px;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  margin: 10px;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}