@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

a {
    font-family: 'Inter', sans-serif;
    color: white;
    text-decoration: none;
    padding-right: 8px;
    font-size: larger;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(34, 34, 34);
}

.navbar {
    width: 100%;
    height: auto;
    justify-content: right;
    list-style: none;
    display: flex;
    margin-right: 4%;
    margin-top: 2.8%;
}

.login {
    width: 100px;
    height: auto;
    position: relative;
    top: 39%;
    left: -1.8%;
    display: flex;
    justify-content: right;
}

.cadastro {
    width: auto;
    height: auto;
    position: relative;
    top: 39%;
    left:-0.7%;
    display: flex;
    justify-content: right;
}


.logo {
    display: flex;
    width: 60px;
    height: 70px;
    margin-top: 26px;
    justify-content: left;
    margin-left: 30%;
}

.palito {
    background-color: white;
    position: relative;
    top: 32%;
    left: -2.8%;
    height: 45px;
    width: 3px;
}

.header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header .header-group {
    width: 100vw;
    height: 120px;
    background-color: black;
    margin: 0;
    display: flex;
}

.header .container {
    display: flex;
    margin: auto;
    width: 90%;
    height: 120px;
}

.conteudo {
    width: 700px;
    margin-left: 16vw;
    margin-top: 4vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: left;
}

.conteudo .textos{
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
    
}

.conteudo .texto1{
    font-size: 250%;
}

.conteudo h1{
    font-family: 'Inter', sans-serif;
    font-size: 300%;
}

.INPUTS {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
}

.INPUTS input{
    margin: 2.3vh;
    background-color: #F1EBEB;
    border:  #F1EBEB;
    border-radius: 12px;
    font-size: 16px;
    width: 240px;
    height: 54px;
}

.INPUTS ::placeholder{
    text-align: center;
    padding-left: 2px;
}

.botaoCalculo button{
    background-color: white;
    border-radius: 20px;
    border: none;
    color: black;
    width: 224px;
    height: 57px;
    margin-top: 5vh;
    font-size: 200%;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
}

.conteudoTotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.imagensCorrendo {
    display: flex;
    justify-content: right;
    height: 86.576vh;
}

.footer {
    background-color: black;
    margin-top: 5%;
    height: 120px;
}
.footer h1{
    padding-top: 2%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size:x-large;
    font-weight: lighter;
}